<div id="header">
  <div class="span-24">
    <div class="span-16"><h1 class="alt">Realtor</h1></div>
    <div class="login span-8 last">
      <div class="small"><%= raw get_login_bar %></div>
    </div>
  </div>
  <hr />
  <div class="span-24">
    <%= raw get_nav_bar %>
  </div>
</div>
<hr />
